.container {
  width: 200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  flex-direction: column;
}
.container .items {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.container .items div {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid black;
}
button {
  color: blue;
}